---
layout: default
---

<div class="spacer_top"></div>

<div class="home_title">
  <h1>Hello human, I'm Marco.</h1>
</div>

<div class="home_introduction">
  <p>I'm a Games Development student at Edinburgh Napier University.<br>I love games, UI/UX design, my rabbit, my doggo.</p>
  <p><a href="mailto:{{ site.email }}">{{ site.email }}</a> &middot; <a href="https://github.com/{{ site.github_username }}">GitHub</a> &middot; <a href="https://{{ site.itchio_username }}.itch.io/">itch.io</a></p>
  <p>Here's some things I've been doing:</p>
</div>

<div class="blog_list">
  {% for post in site.posts %}

    <div class="blog_list_post" style="{% if post.preview_img %}background-image: url({{ post.preview_img }});{% else %}background-color: #f2ece6;{% endif %}">

      <!-- <a class="overlay" href="{{ post.url }}"></a> -->
      <div class="overlay" style="{% if post.preview_img == nil %}opacity: 0;{% endif %}"></div>

      <div style="height: 6em;"></div>

      <div style="margin: auto; max-width: 380px; margin-bottom: 1.3em;">
        {% include tags.html post=post %}
      </div>

      {% include abstract.html post=post %}

      <a href="{{ post.url }}"></a>

    </div>

  {% endfor %}
</div>

<div class="bottom_navigation_buttons">
  {% include button.html type="filled" link=site.posts.first.url text="Start from the first one   &#8227;" %}
</div>

<div class="spacer_bottom"></div>
