.portfolio-gallery-container {

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 140px;

  /*flexbox*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

}

.portfolio-gallery-item {
  width: 550px;
  height: 450px;
  margin: 30px;
  background-position: center;
  position: relative; /* for centering description*/
}

#geom {
  background-image: url("../img/geom/animated_bw.gif");
  background-size: cover;
}

#pba {
  background-image: url("../img/pba/placeholder_bw.png");
  background-size: cover;
}

#pearl {
  background-image: url("../img/pearl/screen02_bw.png");
  background-size: cover;
}

#website {
  background-image: url("../img/row.png");
  background-repeat: repeat;
}

.portfolio-gallery-item .overlay {
  position: absolute;
  background-color: rgba(21, 22, 23, 0.9);
  height: inherit;
  width: 100%;
  transition: all 0.3s ease;
}

.portfolio-gallery-item:hover .overlay {
  background-color: rgba(200, 237, 168, 0.9);
}

.portfolio-gallery-item#website:hover .overlay {
  background-color: rgba(200, 237, 168, 1);
}

.portfolio-gallery-item .portfolio-item-description p {
  color: white;
  font-family: 'Cutive Mono', monospace;
  transition: all 0.3s ease;
}

.portfolio-gallery-item .portfolio-item-learnmore a {
  color: #151617;
}

.portfolio-gallery-item:hover .portfolio-item-description p,
.portfolio-gallery-item:hover .portfolio-item-learnmore a {
  color: #151617;
}

.portfolio-gallery-item .portfolio-item-learnmore a {
  padding: 30px;
  font-size: 250%;
}

/*remove underline from read more button*/
.portfolio-gallery-item .portfolio-item-learnmore a:hover {
  border-bottom: 1px solid transparent;
}

.portfolio-gallery-item .portfolio-item-description {
  opacity: 1;
  transition: all 0.3s ease;
}

.portfolio-gallery-item .portfolio-item-learnmore {
  opacity: 0;
  transition: all 0.3s ease;
}

.portfolio-gallery-item:hover .portfolio-item-description,
.portfolio-gallery-item:hover .portfolio-item-learnmore {
  opacity: 1;
}

.portfolio-gallery-item .portfolio-item-description {

  width: calc(100% - 80px);
  max-width: 360px;

  /*centering*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.portfolio-gallery-item .portfolio-item-learnmore {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 40px;
}

/*to do*/
@media screen and (max-width: 1000px) {

  .portfolio-gallery-container {
    margin-left: 0;
    margin-right: 0;
  }

}
