.portfolio-gallery-container {

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 140px;

  /*flexbox*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

}

.portfolio-gallery-item {
  width: 450px;
  height: 450px;
  margin: 30px;
  background: red;
  background-size: cover;
  background-position: 50% 50%;
}

#geom {
  background-image: url("../img/geom/animated_bw.gif");
}

#pearl {
  background-image: url("../img/pearl/Shells2_bw.png");
}

.portfolio-gallery-item .overlay {
  position: absolute;
  background-color: rgba(21, 22, 23, 0.85);
  height: inherit;
  width: inherit;
  transition: all 0.5s ease;
}

.portfolio-gallery-item .overlay:hover {
  background-color: rgba(200, 237, 168, 0.85);
}

/*to do*/
@media screen and (max-width: 1219px) {
    body {
        background-color: lightgreen;
    }
}
