* {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 100%;
  font-weight: 300;
  text-decoration: none;
  line-height: 180%
}

body {
  background-color: #151617;
}

.container {
  max-width: 840px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-spacer {
  height: 230px;
}

.bottom-spacer {
  height: 230px;
}

h1, h3, p {
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 200%;
  color: white;
  margin-bottom: 80px;
}

h3 {
  font-weight: 900;
  color: white;
  margin-bottom: 30px;
}

h3 i {
  font-weight: 900;
}

p {
  color: #7F7F7F;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #8CA578;

  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  transition-delay: 0s;
}

a:hover {
  color: #C8EDA8;
  border-color: #C8EDA8;
}

@media screen and (max-width: 500px) {

  .top-spacer {
    height: 140px;
  }

  .bottom-spacer {
    height: 140px;
  }

}
